
div{
    display: inline-block;
}
.logo{
    font-size: 24px;
    margin-left: 35px;
    letter-spacing: 2px;
    cursor: pointer;
}
.navigation{
    margin: auto auto auto 60%;
    a{
        margin: auto 30px;
    }
}