<mat-toolbar color="primary">
    <mat-toolbar-row>
        <nav>
            <button (click)="redirectHome()" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                <mat-icon>home </mat-icon>
            </button>
            <div class="logo" (click)="redirectHome()"> ECOTIERRA</div>
            <div class="navigation">
                <a mat-raised-button color="primary" (click)="redirectRegistrate()">Registrate</a>  
                <a  mat-raised-button color="primary" (click)="redirectClientes()"> Clientes </a>
            </div>  
        </nav>
    </mat-toolbar-row>
</mat-toolbar>