<app-header></app-header>

<h1 class="form-title"> ¡REGISTRO DE COMPRA EXITOSA! </h1> 

<ng-container *ngIf="dataSource">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element"> {{element.nombre | titlecase}} </td>
        </ng-container>
        <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
        </ng-container>
        <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
        </ng-container>
        <ng-container matColumnDef="subtotal">
            <th mat-header-cell *matHeaderCellDef>Subtotal</th>
            <td mat-cell *matCellDef="let element"> {{element.subTotal}} </td>
        </ng-container>
        <ng-container matColumnDef="igv">
            <th mat-header-cell *matHeaderCellDef>IGV</th>
            <td mat-cell *matCellDef="let element"> {{element.igv}} </td>
        </ng-container>
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td mat-cell *matCellDef="let element"> {{element.subTotal * 1.18}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</ng-container>

